*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

main{
    background: linear-gradient(rgba(0, 0, 0, 0.454),rgba(128, 128, 128, 0.501)), url(../images/bg.webp);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form{
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #dfdede;
    box-shadow: 7px 10px 8px #111;
}

.signup-form h3{
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #111;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#error{
    background-color: rgba(219, 98, 98, 0.808);
    color: rgb(133, 10, 10);
    border: 1px solid red;
    border-radius: 7px;
    padding: 0.5rem;
    text-align: center;
}

form input{
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1rem;
}

form button{
    padding: 9px;
    border: none;
    background-color: orange;
    color: #333;
    font-size: 1rem;
    border-radius: 7px;
}

form button:hover{
    color: #222;
    background-color: rgb(251, 195, 90);
}

@media screen and (max-width:430px) {
    .signup-form{
        width: 300px;
    }
    
}